@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Zen+Kurenaido&display=swap');
.HeaderField {
    position: absolute;
    height: auto;
    padding: 0;
    margin-top: -10px;
    margin-left: -10px;
    height: 100vh;
    z-index: 10;
    font-family: 'Zen Kurenaido', sans-serif;
    width: 22%;
    background-color: rgba(255, 255, 255, 0.6);
    border-top-right-radius: 20px;
}

.HeaderField .Logo {
    margin-top: 20%;
    display: flex;
    color: #866b57;
    font-weight: 600;
    justify-content: center;
    font-size: 30px;
    font-family: 'Hina Mincho', serif;
    height: 110px;
    border-bottom: 2px dotted #866b57;
}

.HeaderField .Burger{
    display: none;
}

.HeaderField .MenuField {
    font-size: 18px;
    margin-top: 30px;
    width: 100%;
    color: #a59385;
    padding-bottom: 40px;
    border-bottom: 2px dotted #866b57;
}

m{
    padding: 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
    transition: all 0.2s ease;
    margin-left: 10%;
}
m::after {
    position: absolute;
    bottom: 15px;
    left: 15px;
    content: '';
    width: 50%;
    height: 1px;
    background: #a59385;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .4s;

}

m:hover::after {
    transform: scale(1, 1);
    transform-origin: left top;
}

m:hover{
    left: 5px;
    font-size: 22px;
}

.HeaderField .ButtomField{
    position: absolute;
    top: 90%;
    width: 100%;
}

.HeaderField .ButtomField .Link{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.HeaderField .ButtomField .CopyRight{
    display: flex;
    justify-content: center;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #a59385;
  }

@media screen and (max-width: 959px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .HeaderField{
        height: 80px;
        z-index: 10;
        font-family: 'Zen Kurenaido', sans-serif;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        border-top-right-radius: 0;
    }

    a{
        text-decoration: none;
        color: #a59385;
      }

    .HeaderField .Logo {
        display: flex;
        color: #866b57;
        margin-top: 0;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Hina Mincho', serif;
        justify-content: left;
        align-items: center;
        margin-left: 10%;
        height: 100%;
        width: 70%;
        border-bottom: none;
    }
    
    .HeaderField .MenuField {
        font-size: 16px;
        width: 100%;
        color: #a59385;
        display: none;
        margin-left: -10px;
    }
    m{
        padding: 20px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        width: 80%;
        transition: all 0.2s ease;
        margin-left: 0;
    }
    m::after {
        position: absolute;
        bottom: 5px;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        background: #a59385;
        transform: scale(0, 1);
        transform-origin: right top;
        transition: transform .4s;
    
    }
    
    m:hover::after {
        transform: scale(1, 1);
        transform-origin: left top;
    }
    
    m:hover{
        left: 5px;
        font-size: 18px;
    }
    
    .HeaderField .ButtomField{
        display: none;
        position: absolute;
        top: 93%;
        width: 100%;
        margin: -50px;
    }
    
    .HeaderField .ButtomField .Link{
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    
    .HeaderField .ButtomField .CopyRight{
        display: flex;
        justify-content: center;
        font-size: 14px;
    }

    .HeaderField .Burger{
        display: block;
    }
}